<!-- @format -->

{% extends 'base.html' %} {% load static %} {% block main %}

<div class="container">
	<div class="page-header">
		<center>
			<h1>(TOPIC HERE) Chatroom</h1>
			<h1><small>Talk Publicly, or Select Someone to Talk to!</small></h1>
		</center>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div id="user-list" class="list-group">
				<a href="" class="list-group-item disabled">
					<h4 class="list-group-item-heading">Users</h4>
					{# Users go here #}
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Chat</h4>
				</div>
				<div class="panel-footer">
					<div class="input-group">
						<input
							id="chat-input"
							type="text"
							class="form-control input"
							placeholder="Type your message here ..."
							maxlength="500"
						/>
						<span class="input-group-btn">
							<button class="btn btn-info btn" id="btn-send">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setInterval(function () {
            $("\\msgs.html").load(window.location.href + "\\msgs.html");
        }, 500);
    });
</script>
<script>
	let sessionKey = "{{ request.session.session_key }}";
	let currentUser = "{{ request.user.username }}";
</script>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
